{% extends 'base.html' %}

{% block title %} Products {% endblock title %}

{% block body %}
<div class="table table-hover">
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">SL.NO.</th>
          <th scope="col">Phases</th>
          <th scope="col">Yes</th>
          <th scope="col">NO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td><label class="container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label></td>
          <td><label class="container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td><label class="container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label></td>
          <td><label class="container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td><label class="container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label></td>
          <td><label class="container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label></td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock body %}
