{% extends 'base.html' %}

{% block title %} Products|tomato ketchup {% endblock title %}

{% block body %}<table class="table">
<thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Product</th>
      <th scope="col">Phase</th>
      <th scope="col">Task Completion</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Tomato Ketchup</td>
      <td>Washing</td>
      <td>Yes<input type="checkbox" name="Washing" value="Yes"> </td>
      <td>No<input type="checkbox" name="Washing" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Sorting  and Trimming</td>
      <td>Yes<input type="checkbox" name="Sorting  and Trimming" value="Yes"> </td>
      <td>No<input type="checkbox" name="Sorting  and Trimming" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Cutting and Chopping</td>
      <td>Yes<input type="checkbox" name="Cutting and Chopping" value="Yes"> </td>
      <td>No<input type="checkbox" name="Cutting and Chopping" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Heating at 70-90&#8451 for 3-5 minutes</td>
      <td>Yes<input type="checkbox" name="Heating at 70-90" value="Yes"> </td>
      <td>No<input type="checkbox" name="Heating at 70-90" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Pulping or Extraction of Juice/Pulp</td>
      <td>Yes<input type="checkbox" name="Pulping" value="Yes"> </td>
      <td>No<input type="checkbox" name="Pulping" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Straining Tomato Pulp/juice </td>
      <td>Yes<input type="checkbox" name="Straining" value="Yes"> </td>
      <td>No<input type="checkbox" name="Straining" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Cooking pulp with one third quantity of sugar</td>
      <td>Yes<input type="checkbox" name="cooking" value="Yes"> </td>
      <td>No<input type="checkbox" name="cooking" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Putting spice bag in pulp and pressing occasionally</td>
      <td>Yes<input type="checkbox" name="spice" value="Yes"> </td>
      <td>No<input type="checkbox" name="spice" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Cooking to One third of original volume of juice </td>
      <td>Yes<input type="checkbox" name="cooking2" value="Yes"> </td>
      <td>No<input type="checkbox" name="cooking2" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Removal of spice bag</td>
      <td>Yes<input type="checkbox" name="Removal" value="Yes"> </td>
      <td>No<input type="checkbox" name="Removal" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Addition of remaining sugar and salt</td>
      <td>Yes<input type="checkbox" name="addition of sugar and salt" value="Yes"> </td>
      <td>No<input type="checkbox" name="addition of sugar and salt" value="No"> </td>
    </tr>
<tr>
      <th scope="row"></th>
      <td></td>
      <td>Cooking</td>
      <td>Yes<input type="checkbox" name="cooking3" value="Yes"> </td>
      <td>No<input type="checkbox" name="cooking2" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Judging of endpoint </td>
      <td>Yes<input type="checkbox" name="judging" value="Yes"> </td>
      <td>No<input type="checkbox" name="judging" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Addition of vinegar and preservative</td>
      <td>Yes<input type="checkbox" name="preservative" value="Yes"> </td>
      <td>No<input type="checkbox" name="preservative" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Filling hot into bottles at about 88&#8451</td>
      <td>Yes<input type="checkbox" name="filling" value="Yes"> </td>
      <td>No<input type="checkbox" name="filling" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Crown Corking </td>
      <td>Yes<input type="checkbox" name="cc" value="Yes"> </td>
      <td>No<input type="checkbox" name="cc" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Pasterurization</td>
      <td>Yes<input type="checkbox" name="Pasterurization" value="Yes"> </td>
      <td>No<input type="checkbox" name="Pasterurization" value="No"> </td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td></td>
      <td>Cooling</td>
      <td>Yes<input type="checkbox" name="cooling" value="Yes"> </td>
      <td>No<input type="checkbox" name="cooling" value="No"> </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Storage at Ambient Temperature</td>
      <td>Yes<input type="checkbox" name="storage" value="Yes"> </td>
      <td>No<input type="checkbox" name="storage" value="No"> </td>
    </tr>
  </tbody>
</table>
<p align="center">
    <button type="button" class="btn btn-success">Update</button>
</p>
{% endblock body %}